/* LINK FIGMA: https://www.figma.com/file/myqP66iQwzjwjrIAJyyrip/BalleBot?node-id=0%3A1*/
/* LINK TUTORIAL: https://www.youtube.com/watch?v=llF6vD-RljE&t=2314s */
/* Guia de Flex-Box: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/*importa as fontes de texto Righteous (Regular 400px) e Sarala (Bold 70px).*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');




/* Reset CSS: O html tem algumas configurações padrões de estilização, 
como tamanho da margem, fonte e tamanho de texto, etc.
Realizando um reset, temos mais controle sobre toda a estilização da página.
*/
/* O asterisco(*) significa que as atribuições de estilo dentro das chaves({})
serão aplicadas para TODOS os ELEMENTOS.*/
* {/* Reset CSS. */
    margin: 0;/* margem: distância "para fora" em um elemento. */
    padding: 0;/* preenchimento: distância "para dentro" em um elemento. */
    box-sizing: border-box; /**/
    text-decoration: none;/* sem decorações*/
}

html{
    --bege: #ECD6C4;
    --bege-claro: #FFF2E7;
    --bege-escuro: color: hsla(350, 15%, 16%, 1);
    --hover-cor: rgba(230, 211, 196, 0.5);
}

body {/* Reset CSS. */
    font-size: 100%;

    /* background degradê bunitinho. */
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}




/*'cabecalho' é um elemento pai, no qual 
'cabecalho-logo' e 'cabecalho-menu' são elementos filhos. */

/* Dica de como pensar na hora de criar a estilização:
"Do mais de cima para o mais de baixo, 
do parente (mais de fora) para o filho (mais de dentro). */

.cabecalho{
    display: flex;
    flex-direction: row;/* row = linha. (default): left to right in ltr; right to left in rtl*/
    align-items: center;/* alinha os itens no centro. */
    /*justify content: modo de espaçamento entre os itens. */
    justify-content: space-around;/* os itens ficam centralizados horizontalmente. */
    padding: 24px;
}

.cabecalho-logo{
    /*altura: ao mudar a altura, a largura é automaticamente mudada tbm, assim a imagem não fica esticada.*/
    /*Ou seja: mudar a altura é basicamente mudar o TAMANHO.*/
    height: 72px;
}

.cabecalho-menu{/*note que o menu de navegação <nav> é pai dos filhos âncoras <a> */
    display: flex;
    gap: 32px;/* Vão entre TODOS os filhos.*/
    
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: var(--bege-claro);
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover{
    color: var(--hover-cor);
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid var(--bege-claro);
}

.conteudo-primario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;/* os itens ficam centralizados entre si verticalmente. */
}

.conteudo-primario-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-primario-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: var(--bege-claro);
}

.conteudo-primario-escrito-subtitulo{
    font-family: 'Sarala',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: var(--bege);
}

.conteudo-primario-escrito-botao{
    background-color: var(--bege);;/* cor de fundo da box*/

    font-family: 'Sarala',sans-serif;
    font-size: 24px;
    color: var(--bege-escuro);;


    border: none;/* borda do botao: nenhuma*/

    width: 185px;/* dimensões da box */
    height: 67px;


    box-shadow: 4px 5px 4px 0px hsla(0, 0%, 0%, 0.25); /* sombra da box*/
    border-radius: 20px;
    

}

/* hover: é uma pseudoclasse que é usada para adicionar efeitos a uma box
 quando o usuário passa o mouse em cima dela. */

/* No caso do botão, nós mudamos a cor dele. */
.conteudo-primario-escrito-botao:hover{
    background-color: var(--hover-cor);
}

.conteudo-primario-imagem{
    height: 430px;/*tamanho*/
}



.conteudo-secundario{
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;/*alinha*/
    gap: 30px;
}

.conteudo-secundario-texto{
    gap: 24px;

    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    
    color: var(--bege);

}

.conteudo-secundario-titulo{
    padding-top: 48px;
    border-top: 0.35px solid var(--bege-claro);
    margin-bottom: 16px;

    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--bege-claro);

}

.rodape{
    /*display: flex;
    justify-content: space-around;*/
    padding: 32px;
    border-top: 0.4px solid var(--bege-claro);/* linhazinha branca visual que separa o rodapé do resto.*/
    
}

.rodape-imagem{
    /* ao inves de usar o display: flex, vamos usar o block (bloco), 
    que é útil para centralizar um único item, que nesse caso é uma imagem. */
    display: block;
    margin: 0 auto;

    height: 48px;/*tamanho*/
}